.container {
    background-color: var(--color-pink);
    width: 100%;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 3px;
    overflow-x: scroll;
}

.wrapper::-webkit-scrollbar {
    display: none;
}

.item {
    padding: 10px;
    text-align: center;

    a {
        color: var(--color-black);
        text-decoration: none;
        font-weight: 900;
        word-break: keep-all;
        user-select: none;

    }

    a.selected {
        color: var(--color-white);
    }
}

